.design-container{
    width: 100vw;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
            "content"
            "footer";
  }
  .hovereffect h2 {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
    opacity: 0;
    background-color: #B46060;
    text-transform: none;
    align-content: center;
    justify-content: center;
    font-weight: 600;
    margin-top:20%;
    margin-left: 10%;
  }
.content {
    grid-area: content;
    margin-left:6%;
    margin-right:10%;
  }

.image-gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    /* padding-top: 200px; */
    /* padding-bottom: 200px; */
    grid-template-areas:
    "a"
    "b"
    "c"
    "d"
    "e"
    "f"
    ;
}



.box1 {
    grid-area: a;
}

.box2 {
    grid-area: b;
}

.box3 {
    grid-area: c;
}

.box4 {
    grid-area: d;
}

.box5 {
    grid-area: e;
}

.box6 {
    grid-area: f;
}

.design-bigText {
    font-size: .5em;
    padding-right: .5ch;
    text-align: center;
    text-decoration:solid
}


@media only screen and (min-width: 1200px){
.image-gallery {
  width:100%;
  /* height: 100%; */
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  /* grid-gap: 20px; */
  /* padding-top: 200px; */
  /* padding-bottom: 200px; */
  grid-template-areas:
  "a b"
  "c d"
  "e f"
  ;
}
}



/* MEDIA QUERY FOR MOBILE */
@media (max-width:735px){
    nav {
        padding-left: 0;
    }
    .container{
      min-width:100%;
      height:100vh;
      display:grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas:
            "nav"
            "parent-landing"
            "portfolio-container"
            "footer";}

   .image-gallery {
       /* padding-bottom: 200%; */
       grid-template-columns: 1fr minmax(400px, 1fr) 1fr;
       grid-gap: 0px;
       grid-template-areas:
       ".a."
       ".b."
       ".c."
       ".d."
       ".e."
       ".f."
       ;
   }

   .box1 {
    grid-area: a;
}

.box2 {
    grid-area: b;
}

.box3 {
    grid-area: c;
}

.box4 {
    grid-area: d;
}

.box5 {
    grid-area: e;
}

.box6 {
    grid-area: f;
}

.design-bigText {
    font-size: .5em;
    padding-right: .5ch;
    text-align: center;
}
}