/* MEDIA QUERY FOR MOBILE */
  @media (max-width:735px){
    nav {
        padding-left: 0;
    }
    .container{
      min-width:100%;
      height:100vh;
      display:grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas:
            "nav"
            "parent-landing"
            "portfolio-container"
            "footer";}

      nav {
        padding-left: 0;
        left:-5px;
        width:100vw;}



      
 
      .portfolio-container {
          margin: 0 auto;
          display: grid;
          grid-area: portfolio-container;
          /* background-color: #c51111; */
          align-items: center;
          justify-content: center;
          grid-template-columns: 1fr;
          grid-template-rows: auto;
          grid-gap:50px;
          grid-template-areas:
             "a"
             "b"
             "c"
             "d"
             "e"
             "f";
         }

         .portfolio-container img {
          width:80vw;
          align-content: center;
          justify-content: center;
          margin: auto;
         }

   .div1 { grid-area: a;
    /* scale:50%;  */
  }
  .div2 { grid-area: b;
    /* scale: 50%; */
  }
  .div3 { grid-area: c;
    /* scale: 50%; */
  }
  .div4 { grid-area: d; 
    /* scale: 50%; */
  }
  .div5 { grid-area: e;
    /* scale: 50%; */
  }
  .div6 { grid-area: f;
     /* scale: 50%; */
    }

   .parent-landing {
    margin-top: 15%;
    align-items: center;
    justify-content: center;
    ;
    }

    .land-type {
      padding: 10%;
    }
}


/* social sidebar */
/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
  top: 50%;
  left: 89%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
}




/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #1a1a1a;
  position:fixed;
  width: 100vw;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: #1a1a1a;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  color: #B46060;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #1a1a1a;
  color: white;
}